*{
    background-color: black;
    color: white;
    text-align: center;
}
.row{
    display: flex;
}
.container{
    margin: auto;
    height: 600px;
    width: 600px;
    border-style: solid;
}
.box{
    outline:1px solid white;
}
.box:hover{
    background-color: red;
}
button{
    margin-bottom: 20px;
    background-color: white;
    color: black;
}